.fill-height-table {
  flex: 1;
  overflow: hidden;
  .ant-spin-nested-loading, .ant-spin-container {
    height: 100%;
  }
  .ant-spin-container {
    display: flex;
    flex-direction: column;

  }
  .ant-table {
    flex: 1;
    .ant-table-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ant-table-body {
        flex: 1;
      }
    }
    &.ant-table-bordered >.ant-table-container {
      border-bottom: 1px solid #f0f0f0;
    }
  }
  .ant-pagination.ant-table-pagination {
    margin-bottom: 0;
  }
}